node-red.json
[
  {
      "id": "1",
      "type": "tab",
      "label": "Elevator Control",
      "disabled": false,
      "info": ""
  },
  {
      "id": "button1",
      "type": "ui_button",
      "z": "1",
      "name": "Térreo",
      "group": "group1",
      "order": 1,
      "width": 1,
      "height": 1,
      "passthru": false,
      "label": "T",
      "tooltip": "",
      "color": "",
      "bgcolor": "",
      "icon": "",
      "payload": "4",
      "payloadType": "num",
      "topic": "",
      "x": 100,
      "y": 100,
      "wires": [
          ["control"]
      ]
  },
  {
      "id": "button2",
      "type": "ui_button",
      "z": "1",
      "name": "Floor 1",
      "group": "group1",
      "order": 2,
      "width": 1,
      "height": 1,
      "passthru": false,
      "label": "1",
      "tooltip": "",
      "color": "",
      "bgcolor": "",
      "icon": "",
      "payload": "8",
      "payloadType": "num",
      "topic": "",
      "x": 100,
      "y": 140,
      "wires": [
          ["control"]
      ]
  },
  {
    "id": "button3",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 2",
    "group": "group1",
    "order": 3,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "11",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 180,
    "wires": [
        ["control"]
    ]
  },
  {
      "id": "button4",
      "type": "ui_button",
      "z": "1",
      "name": "Floor 3",
      "group": "group1",
      "order": 4,
      "width": 1,
      "height": 1,
      "passthru": false,
      "label": "3",
      "tooltip": "",
      "color": "",
      "bgcolor": "",
      "icon": "",
      "payload": "14",
      "payloadType": "num",
      "topic": "",
      "x": 100,
      "y": 220,
      "wires": [
          ["control"]
      ]
  },
  {
      "id": "button5",
      "type": "ui_button",
      "z": "1",
      "name": "Floor 4",
      "group": "group1",
      "order": 5,
      "width": 1,
      "height": 1,
      "passthru": false,
      "label": "4",
      "tooltip": "",
      "color": "",
      "bgcolor": "",
      "icon": "",
      "payload": "17",
      "payloadType": "num",
      "topic": "",
      "x": 100,
      "y": 260,
      "wires": [
          ["control"]
      ]
  },
  {
    "id": "button6",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 5",
    "group": "group1",
    "order": 6,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "5",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "20",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 300,
    "wires": [
        ["control"]
    ]
  },
  {
    "id": "button7",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 6",
    "group": "group1",
    "order": 7,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "6",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "23",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 340,
    "wires": [
        ["control"]
    ]
  },
  {
    "id": "button8",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 7",
    "group": "group1",
    "order": 8,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "7",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "26",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 380,
    "wires": [
        ["control"]
    ]
  },
  {
    "id": "button9",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 8",
    "group": "group1",
    "order": 9,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "8",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "29",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 420,
    "wires": [
        ["control"]
    ]
  },
  {
    "id": "button10",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 9",
    "group": "group1",
    "order": 10,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "9",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "32",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 460,
    "wires": [
        ["control"]
    ]
  },
  {
    "id": "button11",
    "type": "ui_button",
    "z": "1",
    "name": "Floor 10",
    "group": "group1",
    "order": 11,
    "width": 1,
    "height": 1,
    "passthru": false,
    "label": "10",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "36",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 500,
    "wires": [
        ["control"]
    ]
  },
  {
      "id": "text",
      "type": "ui_text",
      "z": "1",
      "group": "group1",
      "order": 10,
      "width": 3,
      "height": 1,
      "name": "Current Position",
      "label": "Position:",
      "format": "{{msg.payload}}",
      "layout": "row-spread",
      "x": 300,
      "y": 100,
      "wires": []
  },
  {
      "id": "chart",
      "type": "ui_chart",
      "z": "1",
      "name": "Position Chart",
      "group": "group1",
      "order": 11,
      "width": 6,
      "height": 4,
      "label": "Position Over Time",
      "chartType": "line",
      "legend": "false",
      "xformat": "auto",
      "interpolate": "linear",
      "nodata": "No Data",
      "dot": false,
      "ymin": "0",
      "ymax": "100",
      "removeOlder": 1,
      "removeOlderPoints": "",
      "removeOlderUnit": "60",
      "cutout": 0,
      "useOneColor": false,
      "colors": [
          "#1f77b4",
          "#aec7e8",
          "#ff7f0e",
          "#ffbb78",
          "#2ca02c",
          "#98df8a",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "useOldStyle": false,
      "outputs": 1,
      "x": 300,
      "y": 140,
      "wires": []
  },
  {
      "id": "control",
      "type": "function",
      "z": "1",
      "name": "Control Logic",
      "func": "var targetFloor = msg.payload;\nvar currentPosition = flow.get('currentPosition') || 4;\nvar previousError = flow.get('previousError') || 0;\nvar desiredPosition = targetFloor;\n\nvar e = desiredPosition - currentPosition;\nvar de = e - previousError;\n\nvar options = {\n    method: 'POST',\n    url: 'http://localhost:5000/control',\n    json: true,\n    body: {\n        current_position: currentPosition,\n        desired_position: desiredPosition,\n        previous_error: previousError\n    }\n};\n\nmsg.payload = options;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 300,
      "y": 200,
      "wires": [
          ["http"]
      ]
  },
  {
      "id": "http",
      "type": "http request",
      "z": "1",
      "name": "HTTP Request",
      "method": "POST",
      "ret": "obj",
      "url": "http://localhost:5000/control",
      "tls": "",
      "x": 500,
      "y": 200,
      "wires": [
          ["update_position"]
      ]
  },
  {
      "id": "update_position",
      "type": "function",
      "z": "1",
      "name": "Update Position",
      "func": "var response = msg.payload;\nflow.set('currentPosition', response.current_position);\nflow.set('previousError', response.previous_error);\nmsg.payload = response.current_position;\nreturn [msg, { payload: response.current_position }];",
      "outputs": 2,
      "noerr": 0,
      "x": 700,
      "y": 200,
      "wires": [
          ["text"],
          ["chart"]
      ]
  },
  {
      "id": "group1",
      "type": "ui_group",
      "z": "",
      "name": "Elevator Control",
      "tab": "tab1",
      "order": 1,
      "disp": true,
      "width": "6",
      "collapse": false
  },
  {
      "id": "tab1",
      "type": "ui_tab",
      "z": "",
      "name": "Dashboard",
      "icon": "dashboard",
      "order": 1,
      "disabled": false,
      "hidden": false
  }
]
